{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="{% static 'css/test.css'%}">
</head>
<body>

    <h1>Дарова {{ user.get_username }}</h1>
    <a href="{% url 'flight' %}">Полет</a>
    <a href="{% url 'BPLA_reg' %}">Регистрация БПЛА</a>
    <a href="{% url 'flight_analytics' %}">Аналитика полета</a>
    <a href="{% url 'profile' %}">Профиль пользователя</a>
    <a href="{% url 'logout' %}?next=/login/">Выход</a>

</body>
</html>